php_value default_charset "utf-8"
php_value mbstring.http_input "UTF-8"
php_value mbstring.http_output "UTF-8"
php_value mbstring.internal_encoding "UTF-8"
php_flag mbstring.encoding_translation 1
php_value mbstring.func_overload 2

#### EXTENSIONLESS PHP FILES ####
RewriteEngine On
RewriteRule ^(vote/category)/[A-Z][A-Za-z/]+$ $1.php [L]
RewriteRule ^((.*/)?[^/.]+)$ $1.php [L]
